<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="abc" stopProcessing="true">
  		<match url="DangNhap" />
		<conditions logicalGrouping="MatchAll">
              	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            	</conditions>
        	<action type="Rewrite" url="login.html" />
        </rule>
	<rule name="Beta_Local" stopProcessing="true">
		<match url="^$" /> 
      		<action type="Rewrite" url="home.html" />
    	</rule>
 	<rule name="Handle History Mode and custom 404/500" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
      <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>